# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/

# gradle
.gradle/
build/
out/
classes/

# vscode

.settings/
.vscode/
bin/

# mc

eclipse/
run/
run_server/
logs/
remappedSrc/

# apple

**/.DS_Store

# Project
/02Books/fiveStepsAPCSPrinciples.pdf
/02Books/pythonForEverybody.pdf
/02Books/B2B_3.pdf
/CreateTask/button_stop_off.pptx
/CreateTask/Create.m4a
/CreateTask/Create.mov
/CreateTask/Create Task Written Response.dotx
/CreateTask/Create Task Written Response.pdf
/CreateTask/draft.docx
/CreateTask/Individual Video.mp4
/CreateTask/Program Code.docx
/CreateTask/Program Code.pdf
/ExploreTask/
/ExamTasks/
